main{
    width: 1200px;
    margin: auto;
    font-size: 18px;
    font-family: Roboto;
}
h1{
	font-size: 32px;
    margin: 80px 0px 20px 0px;
    font-weight: 800;
}
h2{
	font-size: 28px;
    margin: 40px 0px 10px 0px;
    font-weight: 600;
}
b{
	font-weight: 600;
}
p{
	margin: 20px;
}
br{
	margin: 0px 0px 0px 0px;
}
.center {
	margin: 0px 250px 0px 250px;
}
.naruto_sasuke {
	text-align: center;

}
/*блок с саске и наруто*/
.rVSc {
	display: block;
	margin: 0px auto 0px auto;
	z-index: 10;
	position: under;
	background-color: black;
	margin-top: -50px !important;
}
